 <?xml version="1.0" encoding="UTF-8" ?>
  <CycloneDDS xmlns="https://cdds.io/config">
    <Domain id="any">
      <General>
        <Interfaces>
          <NetworkInterface name="wlp0s20f3" priority="default"/>
        </Interfaces>
        <AllowMulticast>false</AllowMulticast>
      </General>
      <Discovery>
        <ParticipantIndex>auto</ParticipantIndex>
        <MaxAutoParticipantIndex>24</MaxAutoParticipantIndex>
        <Peers>
          <Peer address="127.0.0.1"/>
          <Peer address="192.168.1.20"/>
          <Peer address="192.168.1.199"/>
	  <Peer address="192.168.1.21"/>
        </Peers>
        <SPDPInterval>2s</SPDPInterval>
      </Discovery>
      <Tracing>
        <Verbosity>warning</Verbosity>
        <OutputFile>stderr</OutputFile>
      </Tracing>
    </Domain>
  </CycloneDDS>
